PORT=8001

# MySQL
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Gemini
GEMINI_API_KEY=

# Jira
JIRA_INSTANCE_URL=
JIRA_USERNAME=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=

# Frontend URL allowed by CORS
FRONTEND_URL=http://localhost:4200